#epic {
	margin-left: 25px;
	border-radius: 6px;
	width: 250px;
	height: 40px;
	border-color: black;
	background: blue;
	box-shadow: 5px 5px 3px #888888;

}
#reset {
	float: right;
	width: 150px;
	height: 40px;
	margin-right: 5px;
	background-color: red;
}

#form {
	width: 350px;
	height: 350px;
	border:2px solid black;
}